<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3 align-items-left">
    <div class="col-2 text">
  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>
  </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-2 text">
  <div>
    <%= form.label :odate, style: "display: block" %>
    <%= form.datetime_field :odate %>
  </div>
  </div>
  </div>  


  <div class="row g-3 align-items-left">
    <div class="col-2 text">
  <div>
  <%= form.label :otype, style: "display: block" %>
  <%= form.select :otype, Operation.otypes.keys %>
  </div> 
  </div>
  </div>  

<div class="row g-3 align-items-left">
    <div class="col-2 text">
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  </div>
  </div>    

  <div class="row g-3 align-items-left">
    <div class="col-2 text">
      <label for="operation_category_id" class="form-label">Category</label>

      <select
          name="operation[category_id]"
          id="operation_category_id"
          class="form-select"
      >
          <%= Category.all.each do |c| %>
          <option value=<%= c.id %>>
            <%= c.name %>
          </option>
          <% end %>
      </select>
    </div>
  </div>
 <p>
  <div class="col-2">
<div>
<%= form.submit "Submit", class:"btn btn-success" %>
</div>
</div>
</p>
<% end %>
