<div class="container-fluid">
  <p style="color: green"><%= notice %></p>

  <%= render @operation %>

  <div>
    <%= link_to "Edit this operation", edit_operation_path(@operation), class:"btn btn-warning" %> 
    <%= link_to "Back to operations", operations_path, class:"btn btn-success" %>
    <p>
      <div class="col-2">
        <%= button_to "Destroy this operation", @operation, method: :delete, class:"btn btn-danger" %>
      </div>
    </p> 
  </div>
</div>
